[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TrueSkillThroughTime"]
	path = TrueSkillThroughTime
	url = https://github.com/glandfried/trueskillthroughtime.r
	shallow = true
	registered = true
